matrix:
  include:
    - os: osx
      language: generic
    - os: linux
      language: python  
      python:
        - "3.4"
    - os: linux
      language: python  
      python:
        - "3.5"
    - os: linux
      language: python  
      python:
        - "3.6"

services:
  - postgresql

# osx deps
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew uninstall python; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install python3; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install pyenv-virtualenv; fi

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then psql -c 'create database populse_db_tests;' -U postgres; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew services start postgresql; fi

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pip install -e .[postgres]; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pip3 install -e .[postgres]; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pip install codecov; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pip3 install codecov; fi

script: 
  - python3 -V
  - python3 -m populse_db.test
  - coverage run python/populse_db/test.py

after_success:
- codecov
